<div class="declension-container">
    <div class="control-panel" id="declension-section">
        <label><input type="checkbox" value="I"> I</label>
        <label><input type="checkbox" value="II"> II</label>
        <label><input type="checkbox" value="IIIv"> III vowel</label>
        <label><input type="checkbox" value="IIIc"> III consonant</label>
        <label><input type="checkbox" value="IIIm"> III mixed</label>
        <label><input type="checkbox" value="IV"> IV</label>
        <label><input type="checkbox" value="V"> V</label>
        <label><input type="checkbox" value="relative"> relative</label>
        <label><input type="checkbox" value="demonstrative"> demonstrative</label>
        <label><input type="checkbox" value="interrogative"> interrogative</label>

        <button id="startDeclension" onclick="startDeclensionSession()">Start</button>
        <button id="finishDeclension" onclick="finishDeclensionSession()" disabled>Finish</button>
    </div>
    <div class="console-input">
        <div id="consoleDeclension" class="console">
            <div id="consoleOutputDeclension" class="console-output"></div>
            <input type="text" id="consoleInputDeclension" placeholder="Enter text..." onkeydown="if (event.keyCode == 13) sendDeclensionAnswer();" disabled>
        </div>
    </div>
</div>