<h3>Przymiotniki</h3>
<ul>
    <li>gradus positivus III deklinacji - wzór samogłoskowy (jak vectigal)</li>
    <li>comparativus - zamiana końcówki gen sing na -ior (m/f) lub -ius (n). odmiana III deklinacja spółgłoskowa (jak imperator)</li>
    <li>superlativus - zamiana końcówki gen sing na -issimus/a/um ew. -rimus/a/um. odmiana I/II deklinacja</li>
    <li>znaczenie bezwzględne przymiotnika (elativus):
        <ul>
            <li>comparativus: longior (zbyt długi)</li>
            <li>superlativus: clarissimus (bardzo sławny)</li>
        </ul>
    </li>
    <li>comparativus + quam (fidior quam canis) lub + abl comparationis (fidior cane)</li>
    <li>superlativus może być połączony z gen partitivus (najwyższy ze wszystkich - omnis altissimus)</li>
</ul>