<h3>Koniugacje w skrócie</h3>
<ul>
    <li>ind praes act</li>
    <ul>
        <li>I - temat ā</li>
        <li>II - temat ē</li>
        <li>III - temat spółgłoskowy, spójka ĭ (u w 3 os. lm.)</li>
        <li>IIIb ma i w 1 os. lp i 3 lm. (odmienia się jak IV, ale i jest krótkie)</li>
        <li>IV - temat ī</li>
    </ul>
    <li>ind imperf act</li>
    <ul>
        <li>końcówka -am w 1 os. lp. wszystkich koniugacji</li>
        <li>spójka ē przed 'bā' w III i IV koniugacji</li>
    </ul>
    <li>ind fut I act</li>
    <ul>
        <li>spojka b i spójki i/u w I i II kon.</li>
        <li>w III i IV 'am' w 1 os. sing i spójka 'ē' w pozostałych os. (nawet w 3 os. lm. nie ma tam 'u')</li>
        <li>'b' w II koniugacji jest konieczne żeby odróżnić II kon fut I od III kon praes.</li>
        <li>I i II kon po dodaniu 'b' odmieniają się jak deklinacje spółgłoskowe (III i IV) w praes.</li>
        <li>III po dodaniu 'e' odmienia się jak II w praes (nie licząc 1 os. sing).</li>
        <li>po co 'b' w I kon?</li>
    </ul>
    <li>ind praes pass</li>
    <ul>
        <li>2 os. lp. spójka i zamienia się na e - poza tym jak act tylko z końcówkami pass</li>
    </ul>
    <li>ind imperf pass</li>
    <ul>
        <li>jak act tylko z końcówkami pass</li>
    </ul>
    <li>ind fut I pass</li>
    <ul>
        <li>2 os. lp. spójka i zamienia się na e - poza tym jak act tylko z końcówkami pass</li>
    </ul>
</ul>