<h3>Deklinacje w skrócie</h3>
<ul>
    <li>III spółgłoskowa</li>
    <ul>
        <li>imparisyllaba z tematem kończącym się na spółgłoskę + rodzina z psem</li>
    </ul>
    <li>III samogłoskowa</li>
    <ul>
        <li>rzecz. końcówka -e -al -ar</li>
        <li>niektóre przymiotniki (nie pasujące do 1/2 dekl)</li>
        <li>imiesłowy</li>
        <li>abl sing końc. -i</li>
        <li>gen pl -ium, w neut. nom/acc/voc pl -ia</li>
        <li>przykład odmiany przymiotników <a href="https://dcc.dickinson.edu/grammar/latin/3rd-declension-adjectives-classification-and-paradigms" target="_blank">here</a></li>
    </ul>
    <li>III mieszana</li>
    <ul>
        <li>parisyllaba z nom sing -is, -es</li>
        <li>imparisyllaba które przed końcówką gen sing -is mają &ge; 2 spółgłoski np. urbs, urbis, arx, arcis, ars, artis</li>
        <li>sing jak spółgłoskowa (abl -e)</li>
        <li>pl jak samogłoskowa (gen -ium)</li>
    </ul>
</ul>