<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="header">
        <h1>Lang learning</h1>
    </div>

    <div class="tabs">
        <button class="tablink" onclick="openTab(event, 'Translation')">Translation</button>
        <button class="tablink" onclick="openTab(event, 'Declension')">Declension</button>
        <button class="tablink" onclick="openTab(event, 'Conjugation')">Conjugation</button>
        <button class="tablink" onclick="openTab(event, 'Scraping')">Scraping</button>
        <button class="tablink" onclick="openTab(event, 'Rules')">Rules</button>
    </div>

    <div id="Translation" class="tabcontent">
        {% include 'tabs/translation_tab.html' %}
    </div>

    <div id="Declension" class="tabcontent">
        {% include 'tabs/declension_tab.html' %}
    </div>

    <div id="Conjugation" class="tabcontent">
        {% include 'tabs/conjugation_tab.html' %}
    </div>

    <div id="Scraping" class="tabcontent">
        {% include 'tabs/scraping_tab.html' %}
    </div>

    <div id="Rules" class="tabcontent">
        <!-- Sub-tabs for Rules -->
        <div class="sub-tabs">
            <button class="sub-tablink" onclick="openSubTab(event, 'Conjugations')">Conjugations</button>
            <button class="sub-tablink" onclick="openSubTab(event, 'Declensions')">Declensions</button>
            <button class="sub-tablink" onclick="openSubTab(event, 'Adjectives')">Adjectives</button>
            <button class="sub-tablink" onclick="openSubTab(event, 'Other')">Other</button>
        </div>

        <!-- Content for the sub-tabs -->
        <div id="Conjugations" class="sub-tabcontent">
            {% include 'subtabs/conjugations_subtab.html' %}
        </div>

        <div id="Declensions" class="sub-tabcontent">
            {% include 'subtabs/declensions_subtab.html' %}
        </div>

        <div id="Adjectives" class="sub-tabcontent">
            {% include 'subtabs/adjectives_subtab.html' %}
        </div>

        <div id="Other" class="sub-tabcontent">
            {% include 'subtabs/other_subtab.html' %}
        </div>

    </div>

</body>
</html>
