<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Learning - Translation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <div class="header">
        <h1>Lang learning</h1>
    </div>

    <div class="tabs">
        <button class="tablink" onclick="openTab(event, 'Translation')">Translation</button>
        <button class="tablink" onclick="openTab(event, 'Declension')">Declension</button>
        <button class="tablink" onclick="openTab(event, 'Conjugation')">Conjugation</button>
        <button class="tablink" onclick="openTab(event, 'Scraping')">Scraping</button>
        <button class="tablink" onclick="openTab(event, 'Rules')">Rules</button>
    </div>

    <div id="Translation" class="tabcontent">
        <div class="translation-container">
            <div class="control-panel">
                <label for="startWord">Start word</label>
                <input type="text" id="startWord" placeholder="Enter start word">

                <label for="endWord">End word</label>
                <input type="text" id="endWord" placeholder="Enter end word">

                <button id="startTranslation" onclick="startTranslationSession()">Start</button>
                <button id="finishTranslation" onclick="finishTranslationSession()" disabled>Finish</button>

            </div>
            <div class="text-input">
                <label for="console">Translation Console</label>
                <div id="console" class="console">
                    <div id="consoleOutputTranslation" class="console-output"></div>
                    <input type="text" id="consoleInputTranslation" placeholder="Enter command" onkeydown="if (event.keyCode == 13) sendTranslation();" disabled>
                </div>
            </div>
        </div>
    </div>

    <div id="Declension" class="tabcontent">
        <div class="declension-container">
            <div class="control-panel" id="declension-section">
                <label><input type="checkbox" value="I"> I</label>
                <label><input type="checkbox" value="II"> II</label>
                <label><input type="checkbox" value="IIIv"> III vowel</label>
                <label><input type="checkbox" value="IIIc"> III consonant</label>
                <label><input type="checkbox" value="IIIm"> III mixed</label>
                <label><input type="checkbox" value="IV"> IV</label>
                <label><input type="checkbox" value="V"> V</label>
                <label><input type="checkbox" value="relative"> relative</label>
                <label><input type="checkbox" value="demonstrative"> demonstrative</label>
                <label><input type="checkbox" value="interrogative"> interrogative</label>

                <button id="startDeclension" onclick="startDeclensionSession()">Start</button>
                <button id="finishDeclension" onclick="finishDeclensionSession()" disabled>Finish</button>
            </div>
            <div class="console-input">
                <div id="consoleDeclension" class="console">
                    <div id="consoleOutputDeclension" class="console-output"></div>
                    <input type="text" id="consoleInputDeclension" placeholder="Enter text..." onkeydown="if (event.keyCode == 13) sendDeclensionAnswer();" disabled>
                </div>
            </div>
        </div>
    </div>

    <div id="Conjugation" class="tabcontent">
        <div class="flex-container">
            <div class="control-panel">
                <!-- Type Section -->
                <div class="section" id="type-section">
                    <h3>Type</h3>
                    <label><input type="checkbox" value="I"> I</label>
                    <label><input type="checkbox" value="II"> II</label>
                    <label><input type="checkbox" value="III"> III</label>
                    <label><input type="checkbox" value="IV"> IV</label>
                    <label><input type="checkbox" value="esse" disabled>esse (TBD)</label>
                </div>
                <!-- Mood Section -->
                <div class="section" id="mood-section">
                    <h3>Mood</h3>
                    <label><input type="checkbox" value="Indicativus"> Indicativus</label>
                    <label><input type="checkbox" value="Imperativus"> Imperativus</label>
                </div>
                <!-- Voice Section -->
                <div class="section" id="voice-section">
                    <h3>Voice</h3>
                    <label><input type="checkbox" value="Activus"> Activus</label>
                    <label><input type="checkbox" value="Passivus"> Passivus</label>
                </div>
                <!-- Tense Section -->
                <div class="section" id="tense-section">
                    <h3>Tense</h3>
                    <label><input type="checkbox" value="Praesens"> Praesens</label>
                    <label><input type="checkbox" value="Imperfectum"> Imperfectum</label>
                    <label><input type="checkbox" value="Futurum I"> Futurum I</label>
                    <label><input type="checkbox" value="Perfectum"> Perfectum</label>
                    <label><input type="checkbox" value="Plusquamperfectum"> Plusquamperfectum</label>
                    <label><input type="checkbox" value="Futurum II"> Futurum II</label>
                </div>
                <button id="startConjugation" onclick="startConjugationSession()">Start</button>
                <button id="finishConjugation" onclick="finishConjugationSession()" disabled>Finish</button>
            </div>
            <div class="console-input">
                <div id="consoleConjugation" class="console">
                    <div id="consoleOutputConjugation" class="console-output"></div>
                    <input type="text" id="consoleInputConjugation" placeholder="Enter text for Conjugation..." onkeydown="if (event.keyCode == 13) sendConjugationAnswer();" disabled>
                </div>
            </div>
        </div>
    </div>

    <div id="Scraping" class="tabcontent">
        <div class="flex-container">
            <div class="control-panel">
                <label for="wordsInput">Words:</label>
                <input type="text" id="wordsInput" placeholder="Enter words to scrape" onkeydown="if (event.key === 'Enter') document.getElementById('startScrape').click();">
                <button id="startScrape" onclick="startScraping()">Start</button>
                <button id="addToDictionary" onclick="addToDictionary()" disabled>Add output to dictionary</button>
            </div>
            <div class="output-panel">
                <label for="scrapeOutput">Results:</label>
                <textarea id="scrapeOutput" placeholder="Results will appear here..." readonly></textarea>
            </div>
        </div>
    </div>

    <div id="Rules" class="tabcontent">
        <!-- Sub-tabs for Rules -->
        <div class="sub-tabs">
            <button class="sub-tablink" onclick="openSubTab(event, 'Conjugations')">Conjugations</button>
            <button class="sub-tablink" onclick="openSubTab(event, 'Declensions')">Declensions</button>
            <button class="sub-tablink" onclick="openSubTab(event, 'Adjectives')">Adjectives</button>
            <button class="sub-tablink" onclick="openSubTab(event, 'Other')">Other</button>
        </div>

        <!-- Content for the sub-tabs -->
        <div id="Conjugations" class="sub-tabcontent">
            <h3>Koniugacje w skrócie</h3>
            <ul>
                <li>ind praes act</li>
                <ul>
                    <li>I - temat ā</li>
                    <li>II - temat ē</li>
                    <li>III - temat spółgłoskowy, spójka ĭ (u w 3 os. lm.)</li>
                    <li>IIIb ma i w 1 os. lp i 3 lm. (odmienia się jak IV, ale i jest krótkie)</li>
                    <li>IV - temat ī</li>
                </ul>
                <li>ind imperf act</li>
                <ul>
                    <li>końcówka -am w 1 os. lp. wszystkich koniugacji</li>
                    <li>spójka ē przed 'bā' w III i IV koniugacji</li>
                </ul>
                <li>ind fut I act</li>
                <ul>
                    <li>spojka b i spójki i/u w I i II kon.</li>
                    <li>w III i IV 'am' w 1 os. sing i spójka 'ē' w pozostałych os. (nawet w 3 os. lm. nie ma tam 'u')</li>
                    <li>'b' w II koniugacji jest konieczne żeby odróżnić II kon fut I od III kon praes.</li>
                    <li>I i II kon po dodaniu 'b' odmieniają się jak deklinacje spółgłoskowe (III i IV) w praes.</li>
                    <li>III po dodaniu 'e' odmienia się jak II w praes (nie licząc 1 os. sing).</li>
                    <li>po co 'b' w I kon?</li>
                </ul>
                <li>ind praes pass</li>
                <ul>
                    <li>2 os. lp. spójka i zamienia się na e - poza tym jak act tylko z końcówkami pass</li>
                </ul>
                <li>ind imperf pass</li>
                <ul>
                    <li>jak act tylko z końcówkami pass</li>
                </ul>
                <li>ind fut I pass</li>
                <ul>
                    <li>2 os. lp. spójka i zamienia się na e - poza tym jak act tylko z końcówkami pass</li>
                </ul>
            </ul>
        </div>

        <div id="Declensions" class="sub-tabcontent">
            <h3>Deklinacje w skrócie</h3>
            <ul>
                <li>III spółgłoskowa</li>
                <ul>
                    <li>imparisyllaba z tematem kończącym się na spółgłoskę + rodzina z psem</li>
                </ul>
                <li>III samogłoskowa</li>
                <ul>
                    <li>rzecz. końcówka -e -al -ar</li>
                    <li>niektóre przymiotniki (nie pasujące do 1/2 dekl)</li>
                    <li>imiesłowy</li>
                    <li>abl sing końc. -i</li>
                    <li>gen pl -ium, w neut. nom/acc/voc pl -ia</li>
                    <li>przykład odmiany przymiotników <a href="https://dcc.dickinson.edu/grammar/latin/3rd-declension-adjectives-classification-and-paradigms" target="_blank">here</a></li>
                </ul>
                <li>III mieszana</li>
                <ul>
                    <li>parisyllaba z nom sing -is, -es</li>
                    <li>imparisyllaba które przed końcówką gen sing -is mają &ge; 2 spółgłoski np. urbs, urbis, arx, arcis, ars, artis</li>
                    <li>sing jak spółgłoskowa (abl -e)</li>
                    <li>pl jak samogłoskowa (gen -ium)</li>
                </ul>
            </ul>
        </div>

        <div id="Adjectives" class="sub-tabcontent">
            <h3>Przymiotniki</h3>
            <ul>
                <li>gradus positivus III deklinacji - wzór samogłoskowy (jak vectigal)</li>
                <li>comparativus - zamiana końcówki gen sing na -ior (m/f) lub -ius (n). odmiana III deklinacja spółgłoskowa (jak imperator)</li>
                <li>superlativus - zamiana końcówki gen sing na -issimus/a/um ew. -rimus/a/um. odmiana I/II deklinacja</li>
                <li>znaczenie bezwzględne przymiotnika (elativus):
                    <ul>
                        <li>comparativus: longior (zbyt długi)</li>
                        <li>superlativus: clarissimus (bardzo sławny)</li>
                    </ul>
                </li>
                <li>comparativus + quam (fidior quam canis) lub + abl comparationis (fidior cane)</li>
                <li>superlativus może być połączony z gen partitivus (najwyższy ze wszystkich - omnis altissimus)</li>
            </ul>
        </div>

        <div id="Other" class="sub-tabcontent">
            <h3>Imiesłów (participium)</h3>
        <ul>
            <li>do tematu praes dodaje się -ns (nom), -ntis (gen)</li>
            <li>odmiana wg III deklinacji mieszanej, chociaż zdarza się, że participium jest w funkcji przymiotnika - wtedy abl. sing -i</li>
            <li><a href="https://latinaomnibus.pl/index.php?dzial=czesci_mowy&opcja=imieslow" target="_blank">More on participium</a></li>
        </ul>

        <h3>Części zdania</h3>
        <ul>
            <li>podmiot</li>
            <li>orzeczenie</li>
            <li>dopełnienie bliższe / dalsze (uzupełnia czasownik)</li>
            <li>przydawka dopełniaczowa / przymiotna (określa rzeczownik)</li>
            <li>okolicznik czasu, miejsca, sposobu, przyczyny</li>
        </ul>

        <h3>Składnia nazw miast</h3>
        <ul>
            <li>quo (dokąd)? -> acc</li>
            <li>unde (skąd)? -> abl</li>
            <li>ubi (gdzie)?
                <ul>
                    <li>I i II dekl. -> gen (locativus)</li>
                    <li>III i pl tantum -> abl</li>
                </ul>
            </li>
            <li>miast III dekl. parisyllaba z nom. -is mają acc -im, abl -i</li>
        </ul>
        </div>

    </div>

</body>
</html>
